body {
background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
font-family: sans-serif;
}

.card {
background: white;
padding: 40px;
border-radius: 30px;
box-shadow: 0 15px 35px rgba(0,0,0,0.1);
text-align: center;
width: 280px;
}

.profile-img {
width: 90px;
height: 90px;
background: #e0e7ff;
border-radius: 50%;
margin: 0 auto 20px;
display: flex;
align-items: center;
justify-content: center;
font-size: 45px;
}

.link-btn {
display: block;
background: rgb(118, 135, 194);
color: #f0f3f5;
padding: 12px;
margin: 10px 0;
text-decoration: none;
border-radius: 10px;
font-weight: 500;
transition: all 0.3s ease;
border: 1px solid rgba(0, 122, 255, 0.2);
}

.link-btn:hover {
background-color: rgba(0, 122, 255, 0.3);
color: #004494; 
transform: translateY(-2px);
}